@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Open+Sans:wght@400;500;600;700&family=Patrick+Hand&family=Raleway:wght@400;500;600;700&family=Titan+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* root styles */
.app {
    background: fixed url("https://colibriwp-work.colibriwp.com/school-ii/wp-content/uploads/2019/02/background-sun-simple-1.jpg") no-repeat top;
    background-size: cover;
}
.active {
    color: #06A8F0;
}

/* Homepage styles */
.titan-one {
    font-family: 'Titan One', sans-serif;
}
.patrick-hand {
    font-family: 'Patrick Hand', cursive;
}
.raleway {
    font-family: 'Raleway', sans-serif;
}
.annie {
    font-family: 'Annie Use Your Telescope', cursive;
}
.open-sans {
    font-family: 'Open Sans', sans-serif;
}
.txt-shadow {
    text-shadow: 2px 2px #85B719;
}
.sign-up {
    background: url("https://colibriwp-work.colibriwp.com/school-ii/wp-content/uploads/2019/02/black-1072366_1920-1.jpg") no-repeat center;
    background-size: cover;
}
.sign-up {
    background: url("https://colibriwp-work.colibriwp.com/school-ii/wp-content/uploads/2019/02/black-1072366_1920-1.jpg") no-repeat center;
    background-size: cover;
}
.dotted-line {
    border: none;
    border-top: 3px dotted white;
}
.statistics {
    background: url("https://colibriwp-work.colibriwp.com/school-ii/wp-content/uploads/2019/02/school-tools-3596680_1920-1.jpg") no-repeat center;
    background-size: cover;
    background-color: #00000061;
}
